@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MvcAppTest.Controllers
@using MvcAppTest.Core.Application.Features.Orders.OrderItems.Queries
@model MvcAppTest.Core.Application.Features.Orders.Commands.UpsertOrderCommand

@{
    ViewBag.Title = "Редактировать заказ";
    Layout = "_Layout";
    var providers = ViewData[OrdersController.ViewDataKeys.Providers] as SelectList ?? new SelectList(new List<SelectListItem>());
    var orderItems = ViewData[OrdersController.ViewDataKeys.OrderItemsVms] as List<OrderItemVm> ?? new List<OrderItemVm>();
}

<h2>Редактировать заказ</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Заказ</h4>
        <hr/>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <input type="hidden" asp-for="Id" class="form-control"/>
            </div>

            <div class="row mb-3">
                <label asp-for="Number" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Number" class="form-control"/>
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Date" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Date" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label asp-for="ProviderId" class="col-sm-3 col-form-label">Provider</label>
                <div class="col-sm-9">
                    <select asp-for="ProviderId" asp-items="providers" class="form-control"></select>
                    <span asp-validation-for="ProviderId" class="text-danger"></span>
                </div>
            </div>

            <input type="submit" value="Сохранить" class="btn btn-primary"/>
        </form>
    </div>

    <div class="col-md-8">
        <h4>Элементы заказа</h4>
        <hr/>
        <p>
            <a class="btn btn-primary btn-sm"  asp-controller="OrderItems" asp-action="Create" asp-route-orderId="@Model.Id">Добавить элемент заказа</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                @* <th>@Html.DisplayNameFor(model => orderItems[0].Id)</th> *@
                @* <th>@Html.DisplayNameFor(model => orderItems[0].OrderId)</th> *@
                <th>@Html.DisplayNameFor(model => orderItems[0].Name)</th>
                <th>@Html.DisplayNameFor(model => orderItems[0].Quantity)</th>
                <th>@Html.DisplayNameFor(model => orderItems[0].Unit)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in orderItems)
            {
                <tr>
                    @* <td>@item.Id</td> *@
                    @* <td>@item.OrderId</td> *@
                    <td>
                        <a asp-controller="OrderItems" asp-action="Details" asp-route-orderId="@Model.Id" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>@($"{item.Quantity:0.###}")</td>
                    <td>@item.Unit</td>
                    <td>
                        <a asp-controller="OrderItems" asp-action="Edit" asp-route-orderId="@Model.Id" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-controller="OrderItems" asp-action="Details" asp-route-orderId="@Model.Id" asp-route-id="@item.Id">Подробно</a> |
                        <a asp-controller="OrderItems" asp-action="Delete" asp-route-orderId="@Model.Id" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div><br/>

<div>
    <a asp-action="Index">Вернуться к списку заказов</a>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}